body{
    background-color: white;
    background-image: url("img/background.gif");/*SOURCE: https://wallpapercave.com/gif-background*/
    color:white;
    font-family: 'VT323', monospace;
}

h1{
    font-size: 35pt;
}
p{
    font-size: 28pt;
    text-align: left;
    white-space: pre;

}
label{
    font-size:18pt;
}
#char-focus{
    color:red;
}
section{
    padding: 15px;
    width:50%;
    position: relative;
    margin: auto;
}
button{
    padding:5px 15px;
    font-size:12pt;
    border-radius:10%;
}
button:active{
    transform:scale(1.1);
}